{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_bulkroleassign/index

    Displays a summary of all rules.

    Context variables required for this template:
    * controls
    * rules
        * id
        * title
        * description
        * role
        * context
        * actions
    * norules

    Example context (json):
    {
        "rules": [
            {
                "id": "1",
                "title": "Rule 1",
                "description": "This is a very important rule",
                "role": "Teacher",
                "context": "Category: Maths"
                "actions": []
            }
        ]
    }
}}
{{{norules}}}
<div class="controls btn-block">
    {{#controls}}
        {{{.}}}
    {{/controls}}
</div>
<div class="rules container-fluid">
    {{#rules}}
    <article class="rule well">
        <header class="title">{{{title}}}</header>
        <section>
            <p class="description">{{{description}}}</p>
            <p>
                <span class="context badge badge-primary">{{context}}</span>
                <span class="role badge badge-primary">{{role}}</span>
            </p>
        </section>
        <section class="actions btn-group btn-group-sm">
            {{#actions}}
                {{{.}}}
            {{/actions}}
        </section>
    </article>
    {{/rules}}
</div>
